<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArquiSoft</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Scripts/AdminLTE/dist/css/adminlte.css">

</head>
<body class="hold-transition login-page">
    @RenderBody()
</body>
</html>
