
@{
    ViewBag.Title = "Presupuesto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <!-- Usuarios -->
    <section class="content">
        <div class="card-body p-2" style="background-color:whitesmoke">
            <div class="row">
                <div class="col-6">
                    <div class="card card-dark" style="overflow-y: initial !important">
                        <div class="card-header">
                            <h3 class="card-title">Presupuesto</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body" style="height: 77vh; overflow-y: auto;">
                            <table class="display responsive nowrap table-head-fixed text-nowrap" id="myTable" style="width:100%" data-page-length='10'>
                                <thead>
                                    <tr>
                                        <th>Material</th>
                                        <th>Unidad</th>
                                        <th>Precio</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>

                <div class="col-6">
                    <div class="card card-dark">
                        <div class="card-header">
                            <h3 class="card-title">Materiales</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="cmbMaterials">Seleccione un material</label>
                                    <select id="cmbMaterials" class="form-control select2bs4">
                                    </select>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-8">
                                    <label for="txtMaterialDescription">Descripción</label>
                                    <input type="text" id="txtMaterialDescription" class="form-control" value="">
                                </div>
                                <div class="form-group col-2">
                                    <label for="txtQuantity">Cantidad</label>
                                    <input type="number" id="txtQuantity" class="form-control" value="0" step="1">
                                </div>
                                <div class="form-group col-2">
                                    <label for="txtPrice">Precio</label>
                                    <input type="number" id="txtPrice" class="form-control" value="0" step="1">
                                </div>
                            </div>

                            <div class="form-group col-6">
                                <button type="button" onclick="" class="btn btn-secondary">Agregar</button>
                                <a href="" id="btnViewVendor" class="btn btn-secondary" target="_blank" >Ver en proveedor</a>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>

                    <div class="card card-navy">
                        <div class="card-header">
                            <h3 class="card-title">Totales</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="inputEstimatedBudget">IVA - 13%</label>
                                    <input type="number" id="inputEstimatedBudget" class="form-control" value="0">
                                </div>
                                <div class="form-group col-6">
                                    <label for="inputSpentBudget">Honorarios</label>
                                    <input type="number" id="inputSpentBudget" class="form-control" value="0" step="1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEstimatedDuration">Total General</label>
                                <input type="number" id="inputEstimatedDuration" class="form-control" value="0" step="0.1">
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->

@section scripts{

    <!-- Select2 -->
    <script src="~/Scripts/AdminLTE/plugins/select2/js/select2.full.min.js"></script>

    <script>

        var materialApi = new MaterialApi();
        let materials = [];

        $(document).ready(function () {

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            $('#btnViewVendor').hide();
            var url = new URL(window.location.href);
            var budgetId = url.searchParams.get("Id");

            LoadBudgetData(budgetId);
            LoadMaterials();

        });

        function LoadBudgetData(budgetId) {
            budget_table = $('#myTable').DataTable({
                 "ajax": {
                    "url": `/ArquisoftApp/Budget/GetBudgetLines?budgetId=${budgetId}`,
                    "dataSrc": function (json) {

                        $.each(json.data, function (key, obj) {
                            obj.totalLine = obj.Price * obj.Quantity;
                        });

                        return json.data;
                    }
                 },
                 "columns": [
                     { "data": "Description" },
                     { "data": "UOM" },
                     { "data": "Price" },
                     { "data": "totalLine" },
                     {
                         "data": "Id", "render": function (data) {
                             var buttons = "";
                             buttons += "<button data-toggle='tooltip' data-placement='top' title='Acción para realizar cambios en los datos de los materiales' class='btn btn-outline-secondary btn-sm' type='button' onclick='OpenBudget(" + data + ")'><i class='fas fa-pen'></i></button>"
                             buttons += "<button data-toggle='tooltip' data-placement='top' title='Acción para realizar el eliminado de materiales' class='btn btn-outline-secondary btn-sm ml-2' type='button' onclick='DeleteBudget(" + data + ")'><i class='fa fa-trash'></i></button>"

                             return buttons;
                         },
                         "orderable": false,
                         "searchable": false,
                         "width": "100px"
                     }
                 ],
                dom: '<"float-left"f>rt<"bottom float-left"p><"clear">',
                 buttons: [],
                 "language": {
                     "url": "@Url.Content("~/Content/datatable/idioma/datatable.es-ES.json")"
                 }

            });
        }

        function LoadMaterials() {

            var $MaterialSelect = $('#cmbMaterials');

            materialApi.ListMaterials().then(res => {
                $.each(res.data, function (key, value) {
                    materials.push(value);
                    var $option = $("<option/>", {
                        value: `${value.Id}|S`,
                        text: `${value.Description}`
                    });

                    $MaterialSelect.append($option);
                });
            });

            materialApi.ListVendorMaterials().then(res => {
                $.each(res.data, function (key, value) {
                    materials.push(value);
                    var $option = $("<option/>", {
                        value: `${value.Id}|P`,
                        text: `${value.Description}`
                    });
                    $MaterialSelect.append($option);
                });
            });
        }

        // Events
        $('#cmbMaterials').on('change', function (e) {
            var valueSelected = this.value.split('|')[0]
            var typeSelected = this.value.split('|')[1];

            $.each(materials, function (key, value) {
                if (value.Id == valueSelected) {
                    $("#txtMaterialDescription").val(value.Description);
                    $("#txtQuantity").val();
                    $("#txtPrice").val(value.Price);

                    if (typeSelected === 'P') {
                        $('#btnViewVendor').show();
                        $("#btnViewVendor").attr("href", value.SiteURL)
                    }
                    else
                        $('#btnViewVendor').hide();
                }
            });
        });


    </script>

}