
@{
    ViewBag.Title = "Clientes";
    ViewBag.Page = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <!-- Usuarios -->
    <section class="content">
        <div class="card-body p-2" style="background-color:whitesmoke">
            <table class="display responsive nowrap" id="myTable" style="width:100%" data-page-length='10'>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Direcci&oacute;n</th>
                        <th>Tel&eacute;fono</th>
                        <th>Correo</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </section>

</div>
<!-- /.content-wrapper -->
<!-- Modal -->
<form class="modal" id="FormModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>

            </div>
            <div class="modal-body">

                <input type="hidden" id="txtId" />

                <div class="form-group">
                    <input type="checkbox" class="form-check-input m-0" id="chkEnable">
                    <label class="form-check" for="chkEnable">Activo</label>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label for="txtName">Nombre:</label>
                        <input type="text" class="form-control" id="txtName" name="txtName" placeholder="Nombre" maxlength="100">
                    </div>
                    <div class="form-group col-6">
                        <label for="txtLastName">Apellidos:</label>
                        <input type="text" class="form-control" id="txtLastName" name="txtLastName" placeholder="Apellidos" maxlength="100">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label for="txtPhone">Tel&eacute;fono:</label>
                        <input type="text" class="form-control" id="txtPhone" name="txtPhone" placeholder="Número de contacto" maxlength="8">
                    </div>
                    <div class="form-group col-6">
                        <label for="txtEmail">Correo:</label>
                        <input type="text" class="form-control" id="txtEmail" name="txtEmail" placeholder="Correo electrónico" maxlength="50">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12">
                        <label for="txtAddress">Direcci&oacute;n:</label>
                        <textarea class="form-control" rows="3" cols="50" id="txtAddress" name="txtAddress" placeholder="Dirreción exacta" maxlength="200"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary" onclick="Save()">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</form>
<!-- /.modal -->

@*Modal Ayuda*@
<div class="modal" id="clientsModalAyuda" role="dialog">
    <div class="modal-dialog" style="overflow-y: initial !important">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-bold text-center">Ayuda M&oacute;dulo Clientes</h4>
            </div>
            <div class="modal-body" align="center" style="height: 80vh; overflow-y: auto;">
                <h4 align="center"><b></b></h4>
                <p>&nbsp;&nbsp;Este módulo esta desarrollado para que se pueda registrar, editar y eliminar clientes.</p>
            
                @*Ayuda Agregar Clientes*@

                <h4><b>&nbsp;&nbsp;Gu&iacute;a para agregar un cliente nuevo:</b></h4>
                <p>&nbsp;&nbsp;1- Se da clic al bot&oacute;n “Agregar Nuevo”</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Client/Agregar.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <p>&nbsp;&nbsp;2- Se completa la siguiente informaci&oacute;n</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Client/Modal_Agregar.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <p>&nbsp;&nbsp; <b>1:</b>&nbsp;&nbsp;Nombre del cliente.</p>
                <p>&nbsp;&nbsp; <b>2:</b>&nbsp;&nbsp;Apellidos del cliente.</p>
                <p>&nbsp;&nbsp; <b>3:</b>&nbsp;&nbsp;N&uacute;mero de tel&eacute;fono para contactar al cliente.</p>
                <p>&nbsp;&nbsp; <b>4:</b>&nbsp;&nbsp;Correo electr&oacute;nico del cliente.</p>
                <p>&nbsp;&nbsp; <b>5:</b>&nbsp;&nbsp;Direcci&oacute;n exacta de residencia del cliente.</p>
                <p>&nbsp;&nbsp; <b>6:</b>&nbsp;&nbsp;Guardar cliente.</p>
                <br />
                @*Ayuda Editar Clientes*@

                <h4><b>&nbsp;&nbsp;Gu&iacute;a para editar un cliente:</b></h4>
                <p>&nbsp;&nbsp;1- Se da click al bot&oacute;n “Editar”</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Client/Editar.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <p>&nbsp;&nbsp;2- Se completa la informaci&oacute;n a editar</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Client/Modal_Editar.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <p>&nbsp;&nbsp; <b>1:</b>&nbsp;&nbsp;Habilitar/Deshabilitar un cliente.</p>
                <p>&nbsp;&nbsp; <b>2:</b>&nbsp;&nbsp;Nombre del cliente.</p>
                <p>&nbsp;&nbsp; <b>3:</b>&nbsp;&nbsp;Apellidos del cliente.</p>
                <p>&nbsp;&nbsp; <b>4:</b>&nbsp;&nbsp;N&uacute;mero de tel&eacute;fono para contactar al cliente.</p>
                <p>&nbsp;&nbsp; <b>5:</b>&nbsp;&nbsp;Correo electr&oacute;nico del cliente.</p>
                <p>&nbsp;&nbsp; <b>6:</b>&nbsp;&nbsp;Direcci&oacute;n exacta de residencia del cliente.</p>
                <p>&nbsp;&nbsp; <b>7:</b>&nbsp;&nbsp;Guardar cliente.</p>

                @*Ayuda Eliminar Clientes*@

                <h4><b>&nbsp;&nbsp;Gu&iacute;a para eliminar un cliente:</b></h4>
                <p>&nbsp;&nbsp;1- Se da clic al bot&oacute;n “Eliminar”</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Client/Eliminar.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <p>&nbsp;&nbsp;2- Saldr&aacute; el siguiente mensaje para confirmar la eliminaci&oacute;n</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Client/Modal_Eliminar.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <p>&nbsp;&nbsp; <b>1:</b>&nbsp;&nbsp;Se confirma la eliminaci&oacute;n del cliente.</p>
                <p>&nbsp;&nbsp; <b>2:</b>&nbsp;&nbsp;No se confirma la eliminaci&oacute;n del cliente, no se realizan cambios.</p>

                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*/.modal*@




@section scripts{
    <script>
        const api = new ClientApi();
        var client_table;
        $(document).ready(function () {

            $("#helpModalNav").attr('data-target', "#clientsModalAyuda");
             LoadTable();

         });

        function LoadTable() {
            client_table = $('#myTable').DataTable({
                 "ajax": {
                     "url": "@Url.Action("List", "Client")",
                     "type": "GET",
                     "datatype": "json"
                 },
                 "columns": [
                     { "data": "Name" },
                     { "data": "Last_Name" },
                     { "data": "Address" },
                     { "data": "Phone" },
                     { "data": "Email" },
                     {
                         "data": "IdClient", "render": function (data) {
                             var buttons = "";

                             @if(ArquisoftApp.Controllers.AppController.IsAuthorized(ArquisoftApp.Common.AppEnums.Permissions.CLIENT_EDIT))
                              {
                                 <text> buttons += "<button data-toggle='tooltip' data-placement='top' title='Acción para realizar cambios en los datos de los clientes' class='btn btn-outline-secondary btn-sm' type='button' onclick='openModal(" + data + ", \"Editar Cliente\")'>Editar &nbsp;<i class='fas fa-pen'></i></button>" </text>
                              }

                             @if(ArquisoftApp.Controllers.AppController.IsAuthorized(ArquisoftApp.Common.AppEnums.Permissions.CLIENT_DELETE))
                              {
                                 <text> buttons += "<button data-toggle='tooltip' data-placement='top' title='Acción para realizar el eliminado del cliente' class='btn btn-outline-secondary btn-sm ml-2' type='button' onclick='Delete(" + data + ")'>Eliminar &nbsp;<i class='fa fa-trash'></i></button>" </text>
                              }

                             return buttons;
                         },
                         "orderable": false,
                         "searchable": false,
                         "width": "100px"
                     }
                 ],
                 dom: 'Bfrtip',
                 buttons: [

                     @if(ArquisoftApp.Controllers.AppController.IsAuthorized(ArquisoftApp.Common.AppEnums.Permissions.CLIENT_ADD))
                      {
                        <text>
                            {
                                text: 'Agregar Nuevo',
                                attr: { class: 'btn btn-secondary btn-sm' },
                                action: function (e, dt, node, config) {
                                    openModal(0, "Agregar Cliente");
                                }

                            }
                        </text>
                      }

                 ],
                 "language": {
                     "url": "@Url.Content("~/Content/datatable/idioma/datatable.es-ES.json")"
                 }

            });

            // Methods who add or remove de styled classes
            $.validator.setDefaults({
                //Add Error Class To Fieldset if field invalid
                highlight: function (element) {
                    $(element).addClass('is-invalid').removeClass('is-valid');
                },
                //Add Valid Class To Fieldset if field valid
                unhighlight: function (element) {
                    $(element).removeClass('is-invalid').addClass('is-valid');
                },
                errorPlacement: function (error, element) {
                    error.addClass('validation-error text-red small').insertAfter(element);
                }
            });

            // Custom methods for validations
            $.validator.addMethod('emailRegex', function (value, element, parameter) {
                return value.match(app.enums.Regex.Email);
            }, '');

            // Custom methods for validations
            $.validator.addMethod('phoneRegex', function (value, element, parameter) {
                return value.match(app.enums.Regex.PhoneNumbers);
            }, '');

            // Form validations
            var validator = $("#FormModal").validate({
                rules: {
                    txtName: {
                        required: true,
                        minlength: 1
                    },
                    txtLastName: {
                        required: true,
                        minlength: 1
                    },
                    txtPhone: {
                        required: true,
                        phoneRegex: true
                    },
                    txtEmail: {
                        required: true,
                        emailRegex: true
                    },
                    txtAddress: {
                        required: true,
                        minlength: 1
                    }
                },
                messages: {
                    txtName: {
                        required: "Requerido",
                        minlength: "Ingrese un nombre válido."
                    },
                    txtLastName: {
                        required: "Requerido",
                        minlength: "Ingrese un apellido válido."
                    },
                    txtPhone: {
                        required: "Requerido",
                        phoneRegex: "Ingrese un número válido."
                    },
                    txtEmail: {
                        required: "Requerido",
                        emailRegex: "Ingrese un correo válido"
                    },
                    txtAddress: {
                        required: "Requedido",
                        minlength: "Ingrese una dirección válida."
                    }
                }
            });
        }

        function openModal($clientId, action) {

            CleanModal();
            $("#txtId").val($clientId);
            $(".modal-title").text(action);
            if ($clientId != 0) {

                api.GetClient($clientId).then(client => {

                    if (client != null) {

                        $("#txtName").val(client.Name);
                        $("#txtLastName").val(client.Last_Name);
                        $("#txtAddress").val(client.Address);
                        $("#txtPhone").val(client.Phone);
                        $("#txtEmail").val(client.Email);
                        $("#chkEnable").prop('checked', client.idState == app.enums.States.ACTIVE ? true : false);

                    }

                })
            } else {

                $("#chkEnable").prop('checked', true);
                $("#txtName").val("");
                $("#txtLastName").val("");
                $("#txtAddress").val("");
                $("#txtPhone").val("");
                $("#txtEmail").val("");
            }

            $('#FormModal').modal('show');

        }

        function Save() {
            if ($("#FormModal").valid()) {
                var $data = {
                    oClient: {
                        IdClient: parseInt($("#txtId").val()),
                        Name: $("#txtName").val(),
                        Last_Name: $("#txtLastName").val(),
                        Address: $("#txtAddress").val(),
                        Phone: $("#txtPhone").val(),
                        Email: $("#txtEmail").val(),
                        IdState: $("#chkEnable").prop('checked') ? app.enums.States.ACTIVE : app.enums.States.DISABLE
                    }
                }

                api.SaveClient($data).then(response => {
                    if (response.result === 'OK') {
                        client_table.ajax.reload();
                        $('#FormModal').modal('hide');
                        toastr.success('Cliente guardado correctamente.')
                    } else {
                        toastr.error(response.result);
                    }
                }).catch(err => {
                    toastr.error("Ocurrió un error guardando los datos del cliente.");
                })
            }
            else {
                toastr.error('Por favor valide los datos ingresados.')
            }

        }

        function Delete($clientId) {
            if (confirm("¿Realmente desea eliminar este cliente?")) {

                api.DeleteClient($clientId).then(response => {
                    if (response.result) {
                        client_table.ajax.reload();
                        toastr.success('Cliente eliminado correctamente.');
                    }
                }).catch(err => {
                    toastr.error("Ocurrió un error eliminando los datos del cliente.");
                })
            }
        }

        function ValidateInputs() {

            var ret = true;

            if ($("#txtEmail").hasClass("is-invalid")) {
                ret = false;
            }

            return ret;
        }

        function CleanModal() {

            $("#txtName").removeClass("is-invalid");
            $("#txtName").removeClass("is-valid");
            $("#txtLastName").removeClass("is-invalid");
            $("#txtLastName").removeClass("is-valid");
            $("#txtAddress").removeClass("is-invalid");
            $("#txtAddress").removeClass("is-valid");
            $("#txtPhone").removeClass("is-invalid");
            $("#txtPhone").removeClass("is-valid");
            $("#txtEmail").removeClass("is-invalid");
            $("#txtEmail").removeClass("is-valid");
            $('.validation-error').remove();


            $("#chkEnable").prop('checked', true);
            $("#txtName").val("");
            $("#txtLastName").val("");
            $("#txtAddress").val("");
            $("#txtPhone").val("");
            $("#txtEmail").val("");

        }

    </script>

    @Scripts.Render("~/Scripts/components/Validations.js")
}
