
@{
    ViewBag.Title = "Proyecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!--<section class="content-header">-->
        <!--<div class="container-fluid">
        </div>--><!-- /.container-fluid -->
    <!--</section>-->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-secondary card-tabs">
                        <div class="card-header p-0 pt-1">
                            <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                                <li class="pt-2 px-3"><h4 class="card-title">Nuevo Proyecto</h4></li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-two-home-tab" data-toggle="pill" href="#general-project" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">General</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-two-profile-tab" data-toggle="pill" href="#budget-project" role="tab" aria-controls="custom-tabs-two-profile" aria-selected="false">Presupuestos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-two-messages-tab" data-toggle="pill" href="#project-files" role="tab" aria-controls="custom-tabs-two-messages" aria-selected="false">Adjuntos</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-two-tabContent">
                                <div class="tab-pane show active" id="general-project" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">
                                    <form class="form-horizontal">
                                        <div class="row">
                                            <div class="form-group col-12">
                                                <label for="txtProjectName" class="col-form-label">Proyecto</label>
                                                <input type="text" class="form-control" id="txtProjectName" placeholder="Nombre Proyecto">
                                            </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-12">
                                                    <label for="">Cliente</label>
                                                    <select class="form-control select2bs4" style="width: 100%;">
                                                        <option selected="selected">Alabama</option>
                                                        <option>Alaska</option>
                                                        <option>California</option>
                                                        <option>Delaware</option>
                                                        <option>Tennessee</option>
                                                        <option>Texas</option>
                                                        <option>Washington</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-6">
                                                    <label for="txtClient" class="col-form-label">Terreno(m2)</label> = <label id="siteLabelValue">100</label>
                                                    <div class="slider-green">
                                                        <input type="text" value="" id="sliderSite" class="slider form-control" data-slider-min="0" data-slider-max="5000"
                                                               data-slider-step="100" data-slider-value="0" data-slider-orientation="horizontal"
                                                               data-slider-selection="before" data-slider-tooltip="show" style="width:100%;" onchange="changeLabelText()">
                                                    </div>
                                                </div>

                                                <div class="form-group col-6">
                                                    <label for="txtClient" class="col-form-label">Metros Construcción(m2)</label>
                                                    <div class="slider-blue">
                                                        <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="1000"
                                                               data-slider-step="10" data-slider-value="0" data-slider-orientation="horizontal"
                                                               data-slider-selection="before" data-slider-tooltip="show" style="width:100%;">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="form-group col-6">
                                                    <label for="inputName2" class="col-form-label">No. Niveles</label>
                                                    <input type="text" class="form-control" id="inputSkills" placeholder="Niveles de las obra">
                                                </div>
                                                <div class="form-group col-6">
                                                    <label for="inputExperience" class="col-form-label">Sistema Constructivo</label>
                                                    <select class="select2bs4" multiple="multiple" data-placeholder="Select a State" style="width: 100%;">
                                                        <option>Sistema 1</option>
                                                        <option>Sistema 2</option>
                                                        <option>Sistema 3</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-5">
                                                    <label for="inputSkills" class="col-form-label">Maestro de Obra</label>
                                                    <input type="text" class="form-control" id="inputSkills" placeholder="Maestro de Obra">
                                                </div>
                                                <div class="form-group col-7">
                                                    <label for="inputName2" class="col-form-label">Notas/Comentarios</label>
                                                    <textarea class="form-control" rows="3" cols="50" id="txtDescription" name="txtDescription"></textarea>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="offset-sm-2 col-sm-10">
                                                        <button type="submit" class="btn btn-secondary">Guardar</button>
                                                    </div>
                                                </div>
                                            </div>
</form>
                                </div>
                                <div class="tab-pane" id="budget-project" role="tabpanel" aria-labelledby="custom-tabs-two-messages-tab">
                                    <table class="display nowrap col-12" id="myTable" style="width:100%" data-page-length='10'>
                                        <thead>
                                            <tr>
                                                <th>Nombre Presupuesto</th>
                                                <th>Tipo</th>
                                                <th>Fecha creación</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="tab-pane" id="project-files" role="tabpanel" aria-labelledby="custom-tabs-two-settings-tab">
                                    <!-- /.card -->
                                    <div class="card card-info">
                                        <div class="card-body p-0">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>File Name</th>
                                                        <th>File Size</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                        <td>Functional-requirements.docx</td>
                                                        <td>49.8005 kb</td>
                                                        <td class="text-right py-0 align-middle">
                                                            <div class="btn-group btn-group-sm">
                                                                <a href="#" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                                                <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                                            </div>
                                                        </td>
                                                    <tr>
                                                        <td>UAT.pdf</td>
                                                        <td>28.4883 kb</td>
                                                        <td class="text-right py-0 align-middle">
                                                            <div class="btn-group btn-group-sm">
                                                                <a href="#" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                                                <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                                            </div>
                                                        </td>
                                                    <tr>
                                                        <td>Email-from-flatbal.mln</td>
                                                        <td>57.9003 kb</td>
                                                        <td class="text-right py-0 align-middle">
                                                            <div class="btn-group btn-group-sm">
                                                                <a href="#" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                                                <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                                            </div>
                                                        </td>
                                                    <tr>
                                                        <td>Logo.png</td>
                                                        <td>50.5190 kb</td>
                                                        <td class="text-right py-0 align-middle">
                                                            <div class="btn-group btn-group-sm">
                                                                <a href="#" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                                                <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                                            </div>
                                                        </td>
                                                    <tr>
                                                        <td>Contract-10_12_2014.docx</td>
                                                        <td>44.9715 kb</td>
                                                        <td class="text-right py-0 align-middle">
                                                            <div class="btn-group btn-group-sm">
                                                                <a href="#" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                                                <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                                            </div>
                                                        </td>

                                                </tbody>
                                            </table>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card card-default">
                                                        <div class="card-header">
                                                            <h3 class="card-title">Subir adjuntos</h3>
                                                        </div>
                                                        <div class="card-body">
                                                            <div id="actions" class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="btn-group w-100">
                                                                        <span class="btn btn-success col fileinput-button">
                                                                            <i class="fas fa-plus"></i>
                                                                            <span>Add files</span>
                                                                        </span>
                                                                        <button type="submit" class="btn btn-primary col start">
                                                                            <i class="fas fa-upload"></i>
                                                                            <span>Start upload</span>
                                                                        </button>
                                                                        <button type="reset" class="btn btn-warning col cancel">
                                                                            <i class="fas fa-times-circle"></i>
                                                                            <span>Cancel upload</span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 d-flex align-items-center">
                                                                    <div class="fileupload-process w-100">
                                                                        <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                                            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="table table-striped files" id="previews">
                                                                <div id="template" class="row mt-2">
                                                                    <div class="col-auto">
                                                                        <span class="preview"><img src="data:," alt="" data-dz-thumbnail /></span>
                                                                    </div>
                                                                    <div class="col d-flex align-items-center">
                                                                        <p class="mb-0">
                                                                            <span class="lead" data-dz-name></span>
                                                                            (<span data-dz-size></span>)
                                                                        </p>
                                                                        <strong class="error text-danger" data-dz-errormessage></strong>
                                                                    </div>
                                                                    <div class="col-4 d-flex align-items-center">
                                                                        <div class="progress progress-striped active w-100" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                                            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-auto d-flex align-items-center">
                                                                        <div class="btn-group">
                                                                            <button class="btn btn-primary start">
                                                                                <i class="fas fa-upload"></i>
                                                                                <span>Start</span>
                                                                            </button>
                                                                            <button data-dz-remove class="btn btn-warning cancel">
                                                                                <i class="fas fa-times-circle"></i>
                                                                                <span>Cancel</span>
                                                                            </button>
                                                                            <button data-dz-remove class="btn btn-danger delete">
                                                                                <i class="fas fa-trash"></i>
                                                                                <span>Delete</span>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.card -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section scripts{

    <!-- Bootstrap slider -->
    <script src="~/Scripts/AdminLTE/plugins/bootstrap-slider/bootstrap-slider.min.js"></script>
    <!-- Select2 -->
    <script src="~/Scripts/AdminLTE/plugins/select2/js/select2.full.min.js"></script>
    <!-- dropzonejs -->
    <script src="~/Scripts/AdminLTE/plugins/dropzone/min/dropzone.min.js"></script>


    <script>
        const api = new ProjectApi();

        $(function () {

            //Initialize Select2 Elements
            $('.select2').select2()

            /* BOOTSTRAP SLIDER */
            $('.slider').bootstrapSlider()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

        })


        $(document).ready(function () {

            var url = new URL(window.location.href);
            var projectId = url.searchParams.get("Id");

            LoadGeneral(projectId);
            LoadBudgets();

        });


        function LoadBudgets() {
            client_table = $('#myTable').DataTable({
                 "ajax": {
                     "url": "@Url.Action("ListMaterials", "Material")",
                     "type": "GET",
                     "datatype": "json"
                 },
                 "columns": [
                     { "data": "Description" },
                     { "data": "Price" },
                     { "data": "Description" },
                     {
                         "data": "Id", "render": function (data) {
                             var buttons = "";
                                buttons += "<button data-toggle='tooltip' data-placement='top' title='Acción para realizar cambios en los datos de los materiales' class='btn btn-outline-secondary btn-sm' type='button' onclick='openModal(" + data + ", \"Editar\")'>Visualizar <i class='fas fa-eye'></i></button>"
                                buttons += "<button data-toggle='tooltip' data-placement='top' title='Acción para realizar cambios en los datos de los materiales' class='btn btn-outline-secondary btn-sm ml-2' type='button' onclick='openModal(" + data + ", \"Editar\")'>Descargar <i class='fas fa-download'></i></button>"
                                buttons += "<button data-toggle='tooltip' data-placement='top' title='Acción para realizar el eliminado de materiales' class='btn btn-outline-secondary btn-sm ml-2' type='button' onclick='Delete(" + data + ")'>Eliminar &nbsp;<i class='fa fa-trash'></i></button>"

                             return buttons;
                         },
                         "orderable": false,
                         "searchable": false,
                         "width": "100px"
                     }
                 ],
                 dom: 'Bfrtip',
                 buttons: [

                            {
                                text: 'Crear Nuevo',
                                attr: { class: 'btn btn-secondary btn-sm' },
                                action: function (e, dt, node, config) {
                                    openModal(0, "Agregar");
                                }

                            }

                 ],
                 "language": {
                     "url": "@Url.Content("~/Content/datatable/idioma/datatable.es-ES.json")"
                 }

            });
        }

        function LoadGeneral(projectId) {

            api.GetGeneralData(projectId).then(response => {
                console.log(response.data)
            })
        }

        function changeLabelText() {
            
            $("#siteLabelValue").text($("#sliderSite").val());

        }


        // DropzoneJS Demo Code Start
        Dropzone.autoDiscover = false

        // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
        var previewNode = document.querySelector("#template")
        previewNode.id = ""
        var previewTemplate = previewNode.parentNode.innerHTML
        previewNode.parentNode.removeChild(previewNode)

        var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
            url: "/target-url", // Set the url
            thumbnailWidth: 80,
            thumbnailHeight: 80,
            parallelUploads: 20,
            previewTemplate: previewTemplate,
            autoQueue: false, // Make sure the files aren't queued until manually added
            previewsContainer: "#previews", // Define the container to display the previews
            clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
        })

        myDropzone.on("addedfile", function (file) {
            // Hookup the start button
            file.previewElement.querySelector(".start").onclick = function () { myDropzone.enqueueFile(file) }
        })

        // Update the total progress bar
        myDropzone.on("totaluploadprogress", function (progress) {
            document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
        })

        myDropzone.on("sending", function (file) {
            // Show the total progress bar when upload starts
            document.querySelector("#total-progress").style.opacity = "1"
            // And disable the start button
            file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
        })

        // Hide the total progress bar when nothing's uploading anymore
        myDropzone.on("queuecomplete", function (progress) {
            document.querySelector("#total-progress").style.opacity = "0"
        })

        // Setup the buttons for all transfers
        // The "add files" button doesn't need to be setup because the config
        // `clickable` has already been specified.
        document.querySelector("#actions .start").onclick = function () {
            myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
        }
        document.querySelector("#actions .cancel").onclick = function () {
            myDropzone.removeAllFiles(true)
        }
  // DropzoneJS Demo Code End
    </script>


}