
@{
    ViewBag.Title = "Lista Proyectos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <!-- Usuarios -->
    <section class="content">
        <div class="card-body p-2" style="background-color:whitesmoke">
            <table class="display responsive nowrap" id="myTable" style="width:100%" data-page-length='10'>
                <thead>
                    <tr>
                        <th>Nombre Proyecto</th>
                        <th>Cliente</th>
                        <th>Maestro de Obra</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </section>

</div>
<!-- /.content-wrapper -->
<!-- Modal -->
<form class="modal" id="FormModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nuevo Proyecto</h4>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-12">
                        <label for="txtProjectName">Nombre del Proyecto: *</label>
                        <input type="text" class="form-control" id="txtProjectName" name="txtProjectName" placeholder="Nombre del nuevo proyecto">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12">
                        <label for="cmbClients">Cliente:</label>
                        <select id="cmbClients" class="form-control select2bs4" style="width: 100%;">
                        </select>
                    </div>
                    <p>* Campos requeridos</p>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary" onclick="Save()">Crear</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</form>
<!-- /.modal -->
@*Modal Ayuda*@
<div class="modal" id="projectsModalHelp" role="dialog">
    <div class="modal-dialog" style="overflow-y: initial !important">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-bold text-center">Ayuda Proceso Lista Proyectos</h4>
            </div>
            <div class="modal-body" align="center" style="height: 80vh; overflow-y: auto;">
                <h4 align="center"><b></b></h4>
                @*Ayuda Agregar Proyectos*@

                <h5><b>&nbsp;&nbsp;Gu&iacute;a para agregar un proyecto nuevo:</b></h5>
                <p>&nbsp;&nbsp;1- Se da clic al bot&oacute;n “Agregar Nuevo”</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Projects/projects04.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <p>&nbsp;&nbsp;2- Se completa la siguiente informaci&oacute;n</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Projects/projects01.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <p>&nbsp;&nbsp; <b>1:</b>&nbsp;&nbsp;Nombre del proyecto a realizar.</p>
                <p>&nbsp;&nbsp; <b>2:</b>&nbsp;&nbsp;Cliente correspondiente al proyecto.</p>
                <p>&nbsp;&nbsp; <b>3:</b>&nbsp;&nbsp;Crear proyecto.</p>
                <p>&nbsp;&nbsp; <b>4:</b>&nbsp;&nbsp;Cerrar, no se crea el proyecto.</p>
                <br />
                @*Ayuda Visualizar Proyectos*@

                <h5><b>&nbsp;&nbsp;Gu&iacute;a para visualizar un proyecto:</b></h5>
                <p>&nbsp;&nbsp;1- Se da click al bot&oacute;n “Visualizar” en la fila del proyecto que se desea visualizar.</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Projects/projects02.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>

                @*Ayuda Eliminar Proyectos*@

                <h5><b>&nbsp;&nbsp;Gu&iacute;a para eliminar un proyecto:</b></h5>
                <p>&nbsp;&nbsp;1- Se da clic al bot&oacute;n “Eliminar”</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Projects/projects05.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <p>&nbsp;&nbsp;2- Saldr&aacute; el siguiente mensaje para confirmar la eliminaci&oacute;n</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Projects/Projects03.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <p>&nbsp;&nbsp; <b>1:</b>&nbsp;&nbsp;Se confirma la eliminaci&oacute;n del cliente.</p>
                <p>&nbsp;&nbsp; <b>2:</b>&nbsp;&nbsp;No se confirma la eliminaci&oacute;n del cliente, no se realizan cambios.</p>

                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*/.modal*@


@section scripts{

    <!-- Select2 -->
    <script src="~/Scripts/AdminLTE/plugins/select2/js/select2.full.min.js"></script>


    <script>
        const api = new ProjectApi();
        const apiClients = new ClientApi();
        var project_table;

        var client_table;
        $(document).ready(function () {

            $(async function () {

                //Initialize Select2 Elements
                await $('.select2').select2()

                //Initialize Select2 Elements
                $('.select2bs4').select2({
                    theme: 'bootstrap4'
                })
            });

            $("#helpModalNav").attr('data-target', "#projectsModalHelp");
             LoadTable();
             LoadClientList();

         });

        function LoadTable() {
            project_table = $('#myTable').DataTable({
                "ajax": {
                    "url": "@Url.Action("ListProjects", "Project")",
                    "dataSrc": function (json) {

                        var data = JSON.parse(json.data);

                        $.each(data, function (key, obj) {

                            switch (obj.Status) {
                                case "D":
                                    obj.Status = "Detenido"
                                    break;
                                case "C":
                                    obj.Status = "Crítico"
                                    break;
                                case "E":
                                    obj.Status = "Ejecución"
                                    break;
                            }

                        });

                        return data;
                    }
                },
                 "columns": [
                     { "data": "Name" },
                     { "data": "ClientName" },
                     { "data": "MasterBuilder" },
                     { "data": "Status"},
                     {
                         "data": "Id", "render": function (data) {
                             var buttons = "";

                             @if(ArquisoftApp.Controllers.AppController.IsAuthorized(ArquisoftApp.Common.AppEnums.Permissions.PROJECT_EDIT))
                              {
                                 <text> buttons += "<button data-toggle='tooltip' data-placement='top' title='Acción para realizar cambios en los datos de los materiales' class='btn btn-outline-secondary btn-sm' type='button' onclick='openModal(" + data + ")'>Visualizar &nbsp;<i class='fas fa-eye'></i></button>" </text>
                              }

                             @if(ArquisoftApp.Controllers.AppController.IsAuthorized(ArquisoftApp.Common.AppEnums.Permissions.PROJECT_DELETE))
                              {
                                 <text> buttons += "<button data-toggle='tooltip' data-placement='top' title='Acción para realizar el eliminado de materiales' class='btn btn-outline-secondary btn-sm ml-2' type='button' onclick='Delete(" + data + ")'>Eliminar &nbsp;<i class='fa fa-trash'></i></button>" </text>
                              }

                             return buttons;
                         },
                         "orderable": false,
                         "searchable": false,
                         "width": "100px"
                     }
                 ],
                 dom: 'Bfrtip',
                 buttons: [

                     @if(ArquisoftApp.Controllers.AppController.IsAuthorized(ArquisoftApp.Common.AppEnums.Permissions.PROJECT_ADD))
                      {
                        <text>
                            {
                                text: 'Agregar Nuevo',
                                attr: { class: 'btn btn-secondary btn-sm' },
                                action: function (e, dt, node, config) {
                                    openModal(0, "Agregar");
                                }

                            }
                        </text>
                      }

                 ],
                 "language": {
                     "url": "@Url.Content("~/Content/datatable/idioma/datatable.es-ES.json")"
                 }

            });

            // Form validations
            var validator = $("#FormModal").validate({
                rules: {
                    txtProjectName: {
                        required: true,
                        minlength: 1
                    }
                },
                messages: {
                    txtProjectName: {
                        required: "Requerido",
                        minlength: "Ingrese un nombre válido."
                    }
                }
            });


        }

        function openModal($projectId) {

            CleanModal();
            if ($projectId == 0) {
                $('#FormModal').modal('show');
            }
            else {
                window.location.href = `Instance?Id=${$projectId}`;
            }
        }

        function LoadClientList() {
            apiClients.ListClients().then(clients => {
                var $ClientSelect = $('#cmbClients');
                $.each(clients.data, function (key, value) {

                    if (value.idState=='1') {
                        var $option = $("<option/>", {
                            value: value.IdClient,
                            text: `${value.Name} ${value.Last_Name}`
                        });
                    }
                                      

                    $ClientSelect.append($option);
                });
            })

        }

        function Save() {

            if ($("#FormModal").valid()) {
                var $data = {
                    oProject: {
                        Id: 0,
                        Name: $("#txtProjectName").val(),
                        SiteArea: '0',
                        ConstructionArea: '0',
                        MasterBuilder: '',
                        IdClient: parseInt($("#cmbClients").val()),
                        IdState: app.enums.States.ACTIVE
                    }
                }

                api.SaveProject($data).then(response => {
                    if (response) {
                        toastr.success('Proyecto guardado correctamente.');
                        window.location.href = `Instance?Id=${response.result}`;
                    } else {
                        toastr.error(response.result);
                    }

                }).catch(err => {

                    toastr.error("Ocurrió un error guardando los datos del Proyecto.");
                })
            } else {
                toastr.error('Por favor valide los datos ingresados.')
            }
            

            
        }

        function Delete($projectId) {
            if (confirm("¿Realmente desea eliminar este proyecto?")) {

                api.DeleteProject($projectId).then(response => {
                    if (response.result) {
                        project_table.ajax.reload();
                        toastr.success('Proyecto eliminado correctamente.');
                    }
                }).catch(err => {
                    toastr.error("Ocurrió un error eliminando los datos del proyecto.");
                })
            }
        }

        function CleanModal() {

            $("#txtProjectName").removeClass("is-invalid");
            $("#txtProjectName").removeClass("is-valid");
            $('.validation-error').remove();


            $("#txtProjectName").val("");

        }

    </script>
}


