
@{
    ViewBag.Title = "Roles y Privilegios";
    ViewBag.Page = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <!-- Usuarios -->
    <section class="content">
        <div class="card-body p-2" style="background-color:whitesmoke">
            <table class="display responsive nowrap" id="myTable" style="width:100%" data-page-length='10'>
                <thead>
                    <tr>
                        <th>Nombre Rol</th>
                        <th>Descripción</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </section>



</div>
<!-- /.content-wrapper -->
<!-- Modal -->
<form class="modal" id="FormModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>

            </div>
            <div class="modal-body">

                <input type="hidden" id="txtId" />

                <div class="row">
                    <div class="form-group col-6">
                        <label for="txtName">Nombre:</label>
                        <input type="text" class="form-control" id="txtName">
                    </div>
                    <div class="form-group col-6">
                        <label for="txtDescription">Descripción:</label>
                        <input type="text" class="form-control" id="txtDescription">
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="submit" class="btn btn-primary" id="btnSaveIt">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</form>
<!-- /.modal -->


@section scripts{
    <script>
        const api = new RoleApi();
        var role_table;




        $(document).ready(function () {
            LoadTable();
        });

        // Load Table method
        function LoadTable() {
            role_table = $('#myTable').DataTable({
                "ajax": {
                    "url": "@Url.Action("List", "Role")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name" },
                    { "data": "Description"},
                    { "data": "Id", "render": function (data) {
                        return "<button class='btn btn-primary btn-sm' type='button' onclick='openModal(" + data + ", \"Editar Privilegios\")'>Editar Privilegios &nbsp;<i class='fas fa-pen'></i></button>"
                            //"<button class='btn btn-danger btn-sm ml-2' type='button' onclick='Delete(" + data + ")'>Eliminar &nbsp;<i class='fa fa-trash'></i></button>"
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "100px"
                    }
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: 'Agregar Nuevo',
                        attr: { class: 'btn btn-success btn-sm' },
                        action: function (e, dt, node, config) {
                            openModal(0, "Agregar");
                        }
                    }
                 ],
                 "language": {
                     "url": "@Url.Content("~/Content/datatable/idioma/datatable.es-ES.json")"
                 }

             });
        }

        function openModal($RoleId, action) {

            CleanModal();
            $("#txtId").val($RoleId);
            $(".modal-title").text(action);
            if ($RoleId != 0) {

                api.GetRole($RoleId).then(role => {
                    var roleData = role;

                    if (roleData) {
                        $("#txtName").val(roleData.Name);
                        $("#txtDescription").val(roleData.Description);
                    }
                    else
                        throw ("Data error from api");

                }).catch(err => {

                    console.log(err);
                    toastr.error("Ocurrió un error cargando los datos de rol seleccionado.");
                })

            } else {

                $("#txtName").val("");
                $("#txtDescription").val("");
            }

            $('#FormModal').modal('show');

        }


        // Submit form method
        $("#FormModal").on("submit", function (e) {
            if (ValidateInputs()) {
                var $data = {
                    oRole: {
                        Id: parseInt($("#txtId").val()),
                        Name: $("#txtName").val(),
                        Description: $("#txtDescription").val(),
                    }
                }

                api.SaveRole($data).then(response => {
                    if (response.result === 'OK') {
                        role_table.ajax.reload();
                        $('#FormModal').modal('hide');
                        toastr.success('Rol guardado correctamente.');
                    } else {
                        toastr.error(response.result);
                    }

                }).catch(err => {

                    toastr.error("Ocurrió un error guardando los datos del rol.");
                })
            }
            else
                toastr.error('Por favor valide los datos ingresados.');
        })

        function ValidateInputs() {

            var ret = true;

            if ($("#txtEmail").hasClass("is-invalid")) {
                ret = false;
            }

            return ret;
        }

        function CleanModal() {

            $("#txtName").removeClass("is-invalid");
            $("#txtName").removeClass("is-valid");
            $("#txtDescription").removeClass("is-invalid");
            $("#txtDescription").removeClass("is-valid");
        }



    </script>
}

