
@{
    ViewBag.Title = "Roles y Privilegios";
    ViewBag.Page = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <!-- Usuarios -->
    <section class="content">
        <div class="card-body p-2" style="background-color:whitesmoke">
            <table class="display responsive nowrap" id="myTable" style="width:100%" data-page-length='10'>
                <thead>
                    <tr>
                        <th>Nombre Rol</th>
                        <th>Descripción</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </section>



</div>
<!-- /.content-wrapper -->
<!-- Modal -->
<div class="modal" id="FormModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Stuff</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="userForm">

                    <input type="hidden" id="txtId" />

                    <div class="row">
                        <div class="form-group col-12">
                            <label for="txtName">Nombre: *</label>
                            <input name="txtName" type="text" class="form-control" id="txtName" placeholder="Nombre del rol" autocomplete="off">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-12">
                            <label for="txtDescription">Descripción: *</label>
                            <input name="txtDescription" type="text" class="form-control" id="txtDescription" placeholder="Descripción del rol" autocomplete="off">
                            <p>* Campos requeridos</p>
                        </div>
                    </div>

                    <div class="row">
                        <label for="txtName">Módulos:</label>
                    </div>

                    <div class="row permissions-boxes">
                        <div class="form-group col-3">
                            <button class="btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseClient" aria-expanded="false" aria-controls="multiCollapseExample2">Clientes</button>
                            <div class="collapse multi-collapse" id="collapseClient">
                                <div class="card card-body" id="collapseClientCard">
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input class="custom-control-input" type="checkbox" id="1">
                                        <label for="1" class="custom-control-label">Visualizar</label>
                                    </div>
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input class="custom-control-input" type="checkbox" id="4">
                                        <label for="4" class="custom-control-label">Agregar</label>
                                    </div>
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input class="custom-control-input" type="checkbox" id="2">
                                        <label for="2" class="custom-control-label">Editar</label>
                                    </div>
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input class="custom-control-input" type="checkbox" id="3">
                                        <label for="3" class="custom-control-label">Eliminar</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-3">
                            <button class="btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseProject" aria-expanded="false" aria-controls="multiCollapseExample2">Proyectos</button>
                            <div class="collapse multi-collapse" id="collapseProject">
                                <div class="card card-body">
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input class="custom-control-input" type="checkbox" id="9">
                                        <label for="9" class="custom-control-label">Visualizar</label>
                                    </div>
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input class="custom-control-input" type="checkbox" id="12">
                                        <label for="12" class="custom-control-label">Agregar</label>
                                    </div>
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input class="custom-control-input" type="checkbox" id="10">
                                        <label for="10" class="custom-control-label">Editar</label>
                                    </div>
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input class="custom-control-input" type="checkbox" id="11">
                                        <label for="11" class="custom-control-label">Eliminar</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-3">
                            <button class="btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseMaterial" aria-expanded="false" aria-controls="multiCollapseExample2">Materiales</button>
                            <div class="collapse multi-collapse" id="collapseMaterial">
                                <div class="card card-body">
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input class="custom-control-input" type="checkbox" id="5">
                                        <label for="5" class="custom-control-label">Visualizar</label>
                                    </div>
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input class="custom-control-input" type="checkbox" id="8">
                                        <label for="8" class="custom-control-label">Agregar</label>
                                    </div>
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input class="custom-control-input" type="checkbox" id="6">
                                        <label for="6" class="custom-control-label">Editar</label>
                                    </div>
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input class="custom-control-input" type="checkbox" id="7">
                                        <label for="7" class="custom-control-label">Eliminar</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-3 center-block">
                            <button class="btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseVendorMaterial" aria-expanded="false" aria-controls="multiCollapseExample2">M. Proveedores</button>
                            <div class="collapse multi-collapse" id="collapseVendorMaterial">
                                <div class="card card-body">
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input class="custom-control-input" type="checkbox" id="13">
                                        <label for="13" class="custom-control-label">Visualizar</label>
                                    </div>
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input class="custom-control-input" type="checkbox" id="14">
                                        <label for="14" class="custom-control-label">Ejecutar Script</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" id="btnSaveIt">Guardar</button>
                        <button type="button" class="btn btn-default" id="btnCloseIt" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@*Modal Ayuda*@
<div class="modal" id="roleModalHelp" role="dialog">
    <div class="modal-dialog" style="overflow-y: initial !important">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-bold text-center">Ayuda Proceso Rol y Permiso Usuario</h4>
            </div>
            @*Ayuda Agregar Proyectos*@
            <div class="modal-body" align="center" style="height: 80vh; overflow-y: auto;">
                <h4><b>&nbsp;&nbsp;Gu&iacute;a para agregar un rol nuevo y sus permisos:</b></h4>
                <p>&nbsp;&nbsp;1- Da clic al bot&oacute;n “Agregar Nuevo”</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Role/Role01.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <p>&nbsp;&nbsp;2- Completa la siguiente informaci&oacute;n</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Role/Role02.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <p>&nbsp;&nbsp; <b>1:</b>&nbsp;&nbsp;Nombre del Rol a crear.</p>
                <p>&nbsp;&nbsp; <b>2:</b>&nbsp;&nbsp;Descripción de que acciones va a tener este rol.</p>
                <br />
                <p>&nbsp;&nbsp;3- Selecciona los permisos que este rol va a tener en el sistema</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Role/Role03.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <br />
                <p>&nbsp;&nbsp;4- Una vez completada la informaci&oacute;n se da clic al bot&oacute;n "Guardar".</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Role/Role04.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <br />
                @*Ayuda Visualizar Proyectos*@

                <h4><b>&nbsp;&nbsp;Gu&iacute;a para editar un rol y sus permisos:</b></h4>
                <p>&nbsp;&nbsp;1- Da click al bot&oacute;n “Editar Privilegios” en la fila del rol que se desea modificar.</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Role/Role05.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <br />
                <p>&nbsp;&nbsp;2- Se editan los datos que se requieren, esto pueden ser Nombre, Descripci&oacute;n, y permisos en los diferentes m&oacute;dulos.</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Role/Role06.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <br />
                <p>&nbsp;&nbsp;3- Una vez realizado los cambios que se requieren se da al bot&oacute;n "Guardar".</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Role/Role04.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <br />

                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*/.modal*@




@section scripts{
    <script>
        const api = new RoleApi();
        var role_table;

        $(document).ready(function () {
            $("#helpModalNav").attr('data-target', "#roleModalHelp");
            LoadTable();
        });

        // Load Table method
        function LoadTable() {
            role_table = $('#myTable').DataTable({
                "ajax": {
                    "url": "@Url.Action("List", "Role")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name" },
                    { "data": "Description"},
                    { "data": "Id", "render": function (data) {
                        return "<button data-toggle='tooltip' data-placement='top' title='Acción para realizar cambios en los privilegios de usuarios' class='btn btn-outline-secondary btn-sm' type='button' onclick='openModal(" + data + ", \"Editar Privilegios\")'>Editar Privilegios &nbsp;<i class='fas fa-pen'></i></button>"
                            //"<button class='btn btn-danger btn-sm ml-2' type='button' onclick='Delete(" + data + ")'>Eliminar &nbsp;<i class='fa fa-trash'></i></button>"
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "100px"
                    }
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: 'Agregar Nuevo',
                        attr: { class: 'btn btn-secondary btn-sm' },
                        action: function (e, dt, node, config) {
                            openModal(0, "Agregar");
                        }
                    }
                 ],
                 "language": {
                     "url": "@Url.Content("~/Content/datatable/idioma/datatable.es-ES.json")"
                 }

            });
            // Methods who add or remove de styled classes
            $.validator.setDefaults({
                //Add Error Class To Fieldset if field invalid
                highlight: function (element) {
                    $(element).addClass('is-invalid').removeClass('is-valid');
                },
                //Add Valid Class To Fieldset if field valid
                unhighlight: function (element) {
                    $(element).removeClass('is-invalid').addClass('is-valid');
                },
                errorPlacement: function (error, element) {
                    error.addClass('validation-error text-red small').insertAfter(element);
                }
            });

            // Form validations
            var validator = $("#userForm").validate({
                rules: {
                    txtName: {
                        required: true,
                        minlength: 1
                    },
                    txtDescription: {
                        required: true,
                        minlength: 1
                    }
                },
                messages: {
                    txtName: {
                        required: "Requerido",
                        minlength: "Ingrese un nombre válido."
                    },
                    txtDescription: {
                        required: "Requerido",
                        minlength: "Ingrese una descripción válida."
                    }
                }
            });
        }

        function openModal($RoleId, action) {

            CleanModal();
            $("#txtId").val($RoleId);
            $(".modal-title").text(action);
            if ($RoleId != 0) {

                api.GetRole($RoleId).then(role => {
                    var roleData = role;

                    if (roleData) {
                        $("#txtName").val(roleData.Name);
                        $("#txtDescription").val(roleData.Description);
                        LoadPermissions($RoleId);
                    }
                    else
                        throw ("Data error from api");

                }).catch(err => {

                    console.log(err);
                    toastr.error("Ocurrió un error cargando los datos de rol seleccionado.");
                })

            } else {

                $("#txtName").val("");
                $("#txtDescription").val("");
            }

            $('#FormModal').modal('show');

        }

        // Submit form method
        $("#userForm").on("submit", function (e) {
            if ($("#userForm").valid()) {
                var idRole = parseInt($("#txtId").val());

                var $data = {
                    oRole: {
                        Id: idRole,
                        Name: $("#txtName").val(),
                        Description: $("#txtDescription").val(),
                    },
                    oRoleOperations: GetAllCheckedValues(idRole)
                };

                api.SaveRole($data).then(response => {
                    if (response.result === 'OK') {
                        role_table.ajax.reload();
                        $('#FormModal').modal('hide');
                        toastr.success('Rol guardado correctamente.');
                    } else {
                        toastr.error(response.result);
                    }

                }).catch(err => {

                    toastr.error("Ocurrió un error guardando los datos del rol.");
                })
            }
            else
                toastr.error('Por favor valide los datos ingresados.');
        })

        function ValidateInputs() {

            var ret = true;

            if ($("#txtEmail").hasClass("is-invalid")) {
                ret = false;
            }

            return ret;
        }

        function CleanModal() {

            $("#txtName").removeClass("is-invalid");
            $("#txtName").removeClass("is-valid");
            $("#txtDescription").removeClass("is-invalid");
            $("#txtDescription").removeClass("is-valid");
            $('.permissions-boxes').find('input:checkbox').prop('checked', false);
            $('.validation-error').remove();
        }

        function LoadPermissions($RoleId) {
            api.GetPermissionsByRole($RoleId).then(roleData => {
                var jsonData = JSON.parse(roleData.data);

                $.each(jsonData, function (key, module) {

                    $.each(module.Operations, function (key, operation) {
                        $("#" + operation.Permission).prop("checked", operation.HasPrivilege);
                    })
                })
            })
        }

        function GetAllCheckedValues(idRole) {

            var jsonData = [];

            $('.permissions-boxes').find('input:checkbox:checked').each(function () {
                var id = this.id;
                jsonData.push({ IdRole: idRole, IdOperation: id});
            })

            return jsonData;
        }



    </script>
}

