
@{
    ViewBag.Title = "Roles y Privilegios";
    ViewBag.Page = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <!-- Usuarios -->
    <section class="content">
        <div class="card-body p-2" style="background-color:whitesmoke">
            <table class="display responsive nowrap" id="myTable" style="width:100%" data-page-length='10'>
                <thead>
                    <tr>
                        <th>Nombre Rol</th>
                        <th>Descripción</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </section>



</div>
<!-- /.content-wrapper -->
<!-- Modal -->
<div class="modal" id="FormModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Stuff</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="userForm">

                    <input type="hidden" id="txtId" />

                    <div class="row">
                        <div class="form-group col-12">
                            <label for="txtName">Nombre:</label>
                            <input type="text" class="form-control" id="txtName">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-12">
                            <label for="txtDescription">Descripción:</label>
                            <input type="text" class="form-control" id="txtDescription">
                        </div>
                    </div>

                    <div class="row">
                        <label for="txtName">Módulos:</label>
                    </div>

                    <div class="row">
                        <div class="form-group col-3">
                            <button class="btn-sm btn-info" type="button" data-toggle="collapse" data-target="#collapseClient" aria-expanded="false" aria-controls="multiCollapseExample2">Clientes</button>
                            <div class="collapse multi-collapse" id="collapseClient">
                                <div class="card card-body" id="collapseClientCard">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked>
                                        <label for="customCheckbox2" class="custom-control-label">Visualizar</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked>
                                        <label for="customCheckbox2" class="custom-control-label">Agregar</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked>
                                        <label for="customCheckbox2" class="custom-control-label">Editar</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked>
                                        <label for="customCheckbox2" class="custom-control-label">Eliminar</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-3">
                            <button class="btn-sm btn-info" type="button" data-toggle="collapse" data-target="#collapseMaterial" aria-expanded="false" aria-controls="multiCollapseExample2">Proyectos</button>
                            <div class="collapse multi-collapse" id="collapseMaterial">
                                <div class="card card-body">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked>
                                        <label for="customCheckbox2" class="custom-control-label">Visualizar</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked>
                                        <label for="customCheckbox2" class="custom-control-label">Agregar</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked>
                                        <label for="customCheckbox2" class="custom-control-label">Editar</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked>
                                        <label for="customCheckbox2" class="custom-control-label">Eliminar</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-3">
                            <button class="btn-sm btn-info" type="button" data-toggle="collapse" data-target="#collapseVendorMaterial" aria-expanded="false" aria-controls="multiCollapseExample2">Materiales</button>
                            <div class="collapse multi-collapse" id="collapseVendorMaterial">
                                <div class="card card-body">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked>
                                        <label for="customCheckbox2" class="custom-control-label">Visualizar</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked>
                                        <label for="customCheckbox2" class="custom-control-label">Agregar</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked>
                                        <label for="customCheckbox2" class="custom-control-label">Editar</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked>
                                        <label for="customCheckbox2" class="custom-control-label">Eliminar</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-3 center-block">
                            <button class="btn-sm btn-info" type="button" data-toggle="collapse" data-target="#collapseProject" aria-expanded="false" aria-controls="multiCollapseExample2">M. Proveedores</button>
                            <div class="collapse multi-collapse" id="collapseProject">
                                <div class="card card-body">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked>
                                        <label for="customCheckbox2" class="custom-control-label">Visualizar</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked>
                                        <label for="customCheckbox2" class="custom-control-label">Agregar</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked>
                                        <label for="customCheckbox2" class="custom-control-label">Editar</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="customCheckbox2" checked>
                                        <label for="customCheckbox2" class="custom-control-label">Eliminar</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" id="btnSaveIt">Guardar</button>
                        <button type="button" class="btn btn-default" id="btnCloseIt" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- /.modal -->

@section scripts{
    <script>
        const api = new RoleApi();
        var role_table;




        $(document).ready(function () {
            LoadTable();
        });

        // Load Table method
        function LoadTable() {
            role_table = $('#myTable').DataTable({
                "ajax": {
                    "url": "@Url.Action("List", "Role")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name" },
                    { "data": "Description"},
                    { "data": "Id", "render": function (data) {
                        return "<button class='btn btn-primary btn-sm' type='button' onclick='openModal(" + data + ", \"Editar Privilegios\")'>Editar Privilegios &nbsp;<i class='fas fa-pen'></i></button>"
                            //"<button class='btn btn-danger btn-sm ml-2' type='button' onclick='Delete(" + data + ")'>Eliminar &nbsp;<i class='fa fa-trash'></i></button>"
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "100px"
                    }
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: 'Agregar Nuevo',
                        attr: { class: 'btn btn-success btn-sm' },
                        action: function (e, dt, node, config) {
                            openModal(0, "Agregar");
                        }
                    }
                 ],
                 "language": {
                     "url": "@Url.Content("~/Content/datatable/idioma/datatable.es-ES.json")"
                 }

             });
        }

        function openModal($RoleId, action) {

            CleanModal();
            $("#txtId").val($RoleId);
            $(".modal-title").text(action);
            if ($RoleId != 0) {

                api.GetRole($RoleId).then(role => {
                    var roleData = role;

                    if (roleData) {
                        $("#txtName").val(roleData.Name);
                        $("#txtDescription").val(roleData.Description);
                    }
                    else
                        throw ("Data error from api");

                }).catch(err => {

                    console.log(err);
                    toastr.error("Ocurrió un error cargando los datos de rol seleccionado.");
                })

            } else {

                $("#txtName").val("");
                $("#txtDescription").val("");
            }

            $('#FormModal').modal('show');

        }

        // Submit form method
        $("#FormModal").on("submit", function (e) {
            if (ValidateInputs()) {
                var $data = {
                    oRole: {
                        Id: parseInt($("#txtId").val()),
                        Name: $("#txtName").val(),
                        Description: $("#txtDescription").val(),
                    }
                }

                api.SaveRole($data).then(response => {
                    if (response.result === 'OK') {
                        role_table.ajax.reload();
                        $('#FormModal').modal('hide');
                        toastr.success('Rol guardado correctamente.');
                    } else {
                        toastr.error(response.result);
                    }

                }).catch(err => {

                    toastr.error("Ocurrió un error guardando los datos del rol.");
                })
            }
            else
                toastr.error('Por favor valide los datos ingresados.');
        })

        function ValidateInputs() {

            var ret = true;

            if ($("#txtEmail").hasClass("is-invalid")) {
                ret = false;
            }

            return ret;
        }

        function CleanModal() {

            $("#txtName").removeClass("is-invalid");
            $("#txtName").removeClass("is-valid");
            $("#txtDescription").removeClass("is-invalid");
            $("#txtDescription").removeClass("is-valid");
        }

        function LoadPermissions() {

            api.GetPermissionsByRole(2).then(roleData => {

                var jsonData = JSON.parse(roleData.data);


                $.each(jsonData, function (key, module) {

                    switch (module.Id) {
                        case app.enums.Modules.CLIENTS:
                            break;

                        case app.enums.Modules.MATERIALS:
                            break;

                        case app.enums.Modules.PROJECTS:
                            break;

                        case app.enums.Modules.VENDOR_MATERIALS:
                            break;
                    }

                })

                
            })

        }



    </script>
}

