
@{
    ViewBag.Title = "Materiales Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <!-- Usuarios -->
    <section class="content">
        <div class="card-body p-2" style="background-color:whitesmoke">
            <table class="display responsive nowrap" id="myTable" style="width:100%" data-page-length='10'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Material</th>
                        <th>Precio(₡)</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </section>

</div>
<!-- /.content-wrapper -->
<!-- Modal -->
<form class="modal" id="FormModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>

            </div>
            <div class="modal-body">

                <input type="hidden" id="txtId" />

                <div class="row">
                    <div class="form-group col-12">
                        <label for="txtVendor">Proveedor:</label>
                        <input type="text" class="form-control" id="txtVendor" name="txtVendor" value="EPA" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-8">
                        <label for="txtDescription">Material:</label>
                        <textarea class="form-control" rows="2" cols="50" id="txtDescription" name="txtDescription" disabled></textarea>
                    </div>
                    <div class="form-group col-4">
                        <label for="txtPrice">Precio:</label>
                        <input type="text" class="form-control" id="txtPrice" name="txtPrice" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12">
                        <div class="col-12">
                            <img id="imgUrl" src="" alt="Product Image">
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer justify-content-between">
                <a id="openSite" class="btn btn-secondary" href="" target="_blank">Ver en Sitio</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</form>
<!-- /.modal -->

@*Modal Ayuda*@
<div class="modal" id="materialesFerreModalAyuda" role="dialog">
    <div class="modal-dialog" style="overflow-y: initial !important">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-bold text-center">Ayuda M&oacute;dulo Materiales Proveedor</h4>
            </div>
            <div class="modal-body" align="center" style="height: 80vh; overflow-y: auto;">
                <h4 align="center"><b></b></h4>
                <p>&nbsp;&nbsp;Este módulo está desarrollado para visualizar materiales de una ferretería.</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Material_Proveedor/Menu.jpg" class="img-rounded" alt="Cinque Terre" />
                </div>

                @*Ayuda Materiales Proveedor*@

                <h4><b>&nbsp;&nbsp;Gu&iacute;a para actualizar lista de materiales</b></h4>
                <p>&nbsp;&nbsp;1- Se da clic al bot&oacute;n “Importar desde EPA.com”</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Material_Proveedor/Importar.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <h4><b>&nbsp;&nbsp;Gu&iacute;a para ver el detalle de un material</b></h4>
                <p>&nbsp;&nbsp;1- Se da clic al bot&oacute;n “Ver Ficha”</p>
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Material_Proveedor/Ver_Ficha.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <p>&nbsp;&nbsp;2- Da clic al bot&oacute;n “Ver en sitio” para observar m&aacute;s detalles del material.</p>
                <br />
                <div class="modal-body" align="left">
                    <img src="~/Content/img/Help/Material_Proveedor/Ficha_Producto.JPG" class="img-rounded" alt="Cinque Terre" />
                </div>
                <p>&nbsp;&nbsp; <b>1:</b>&nbsp;&nbsp;Visitar el sitio web de la ferretería</p>
                <p>&nbsp;&nbsp; <b>2:</b>&nbsp;&nbsp;Cerrar</p>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*/.modal*@


@section scripts{
    <script>
        const api = new MaterialApi();
        var client_table;
        var formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'CRC',
        });

         $(document).ready( function () {

             $("#helpModalNav").attr('data-target', "#materialesFerreModalAyuda");
             LoadTable();

         });

        function LoadTable() {
            client_table = $('#myTable').DataTable({
                 "ajax": {
                    "url": "@Url.Action("ListVendorMaterials", "Material")",
                    "dataSrc": function (json) {

                        let JsonBudgetData = json.data;

                        if (JsonBudgetData) {
                            $.each(JsonBudgetData, function (key, obj) {
                                if (obj.Id) {
                                    obj.Price = `${formatter.format(obj.Price).replace('CRC', '₡')}`;
                                }
                            });
                        }
                        else
                            JsonBudgetData = [];

                        return JsonBudgetData;
                    }
                     //"type": "GET",
                     //"datatype": "json"
                 },
                 "columns": [
                     { "data": "Id" },
                     { "data": "Description" },
                     { "data": "Price", className: "text-right"},
                     {
                         "data": "Id", "render": function (data) {
                             var buttons = "";
                             buttons += "<button data-toggle='tooltip' data-placement='top' title='Acción para visualizar la ficha tecnica del producto' class='btn btn-outline-secondary btn-sm' type='button' onclick='openModal(" + data + ")'>Ver Ficha <i class='fas fa-eye'></i></button>"
                             return buttons;
                         },
                         "orderable": false,
                         "searchable": false,
                         "width": "100px"
                     }
                 ],
                 dom: 'Bfrtip',
                 buttons: [

                     @if(ArquisoftApp.Controllers.AppController.IsAuthorized(ArquisoftApp.Common.AppEnums.Permissions.VENDOR_MAT_RUN))
                      {
                        <text>
                            {
                                text: 'Importar desde EPA.com',
                                attr: { class: 'btn btn-secondary btn-sm' },
                                action: function (e, dt, node, config) {
                                    RunScript()
                                }

                            }
                        </text>
                      }

                 ],
                 "language": {
                     "url": "@Url.Content("~/Scripts/plugins/datatable/idioma/datatable.es-ES.json")"
                 }

            });
        }

        function openModal($materialId) {

            CleanModal();
            $("#txtId").val($materialId);
            $(".modal-title").text("Ficha de Producto");
            if ($materialId != 0) {

                api.GetVendorMaterial($materialId).then(material => {

                    if (material != null) {

                        $("#txtVendor").val("EPA Costa Rica");
                        $("#txtDescription").val(material.Description);
                        $("#txtPrice").val(`${formatter.format(material.Price).replace('CRC', '₡')}`);
                        $("#imgUrl").attr('src', material.ImgURL);
                        $("#openSite").attr('href', material.SiteURL);

                    }

                })
            } else {

                $("#txtPrice").val("");
                $("#txtDescription").val("");
                $("#txtVendor").val("");
            }

            $('#FormModal').modal('show');

        }

        function Delete($clientId) {
            if (confirm("¿Realmente desea eliminar?")) {

                api.DeleteClient($clientId).then(response => {
                    if (response.result) {
                        client_table.ajax.reload();
                        toastr.success('Cliente eliminado correctamente.');
                    }
                }).catch(err => {
                    toastr.error("Ocurrió un error eliminando los datos del cliente.");
                })
            }
        }

        function CleanModal() {
            if ($("#txtEmail").hasClass("is-invalid")) {

                $("#txtEmail").removeClass("is-invalid");
                $('.invalid-feedback').remove();
            }
        }

        function RunScript() {
            $.ajax({
                type: "POST",
                url: "E:/Code/Steven/Arquisoft/Arquisoft/ArquisoftApp/Scripts/src/scrappers/app.py",
                data: null
            }).done(function (o) {
                console.log(o)
            });
        }
    </script>
}


